<?xml version="1.0"?>
<launch>

    <arg name="load_panda" default="true"/>
    <!-- Either create a map or load a map if this is set false -->
    <arg name="create_map" default="true"/>
    <arg name = "moveit_pkg" default="panda_moveit_config"/>



    <!-- Regardless of if we are creating a map or loading a map load the robot and it's MoveIt packages -->
    <group if="$(arg load_panda)">
        <!-- Load the Panda arm MoveIt! demo -->
        <include file="$(find panda_moveit_config)/launch/demo.launch">
            <arg name="use_rviz" value="false" />
        </include>

        <!--Launch moveit required pkgs for your robot-->
        <!--
        <include file="$(find map_generation)/launch/moveit_pkgs.launch">
            <arg name="moveit_pkg" value="$(arg moveit_pkg)"/>
        </include>
        -->
    </group>



    <!-- Map Creation -->
    <group if="$(arg create_map)">
        <!--Node for map generation-->
        <node name="map_gen" pkg="map_generation" type="map_generation_node" output="screen">
          <param name="group_name" value="panda_arm" />
          <param name="pkg_name" value="$(arg moveit_pkg)"/>
          <param name="resolution" value="0.1" />
          <param name="radius" value="1" />
          <param name="check_collision" value="true"/>
          <param name="path" value="$(find map_generation)/maps/" />
          <param name="filename" value="default" />
        </node>
    </group>



    <!-- Load and Visualise Map -->
    <group unless="$(arg create_map)">
    <!--<group if="$(arg load_map)">-->
        <!-- Reuleaux's load map doesn't use the same frame as the frame the map was created in for some reason, it forces base_link and isn't parameterised currently, so we need a static tf from the panda origin to the base_link frame -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_2_panda_link0" args="0 0 0 0 0 0 panda_link0 base_link" />

        <!-- Use the original Reuleaux package's map loader -->
        <node pkg="map_creator" type="load_reachability_map" name="reachability_map_loader" args="$(find map_generation)/maps/panda_panda_arm_0.1_reachability.h5" />

        <!-- RViz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_generation)/config/panda_demo.rviz" />
    </group>



</launch>
